

* {
  box-sizing: border-box;
}

h1 {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	font-family: "Calibri";
	font-size: 40px;
}
h2 {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	font-family: "Calibri";
}
h3 {
	margin-left: 50px;
	font-family: "Calibri";
}
hr {
  width: 75%;
}
p {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	padding-bottom: 10px;
	font-family: "Calibri";
	font-size: 16px;
}

.image {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 70px;
}

.panel {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding-bottom: 10px;
}